body{

    background-image: url(images/background.jpg);
    background-position: center bottom;
}


.calculator{

    height: 400px;
    width: 320px;
    background-color: whitesmoke;
    margin-top: 150px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px gray;
}

.main-bar{

    margin-bottom: 30px;
    text-align: right;
}

.btn{

    margin-bottom: 12px;
    font-size: 20px;
    cursor: pointer;
    width: 60px;
    
    
}

#reset{
    width: 120px;
}

#input-area{

    font-size: 25px;
    font-weight: 500;
}

footer{

    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 100px;
}